{{ partial "head" . }}
    <body>
    <!-- Main container -->
    <div class="page-container">
      {{ partial "header" . }}

    <!-- bloc-5 -->
    <div class="bloc bgc-white l-bloc" id="bloc-5">
    	<div class="container bloc-lg">
        {{ range .Paginator.Pages }}

    		<div class="row blog-post">
    			<div class="col-sm-12">
    				<h2 class="mg-lg">
    					<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    				</h2>
    				<p class="mg-lg">
    					{{ .Content }}
    				</p>
    			</div>
    		</div>
        {{ end }}
        <center>
{{ template "_internal/pagination.html" . }}
      </center>
    	</div>
    </div>
    <!-- bloc-5 END -->
    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->


    <!-- Footer - bloc-6 -->
    {{ partial "footer" . }}
    <!-- Footer - bloc-6 END -->
    <!-- Footer -->

    </div>
    <!-- Main container END -->


  </body>
</html>
