<!-- Footer - bloc-6 -->
<div class="bloc bgc-white l-bloc" id="bloc-6">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<p class="text-center">
					© David Boyes
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-6 END -->

{{ partial "js" . }}
