<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="David, Boyes, Picfx, PicFrame, iOS, Development, Android, Mobile, Dev">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="favicon.png">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/blocs.min.js"></script>
  <script src="/js/lazysizes.min.js" defer></script>
    <title>Home - David Boyes | PicFrame | Picfx</title>


<!-- Google Analytics -->

<!-- Google Analytics END -->

</head>
