<div class="social">
	<h4>
    {{ if .Site.Social.gitlab }}
	  <a href="https://gitlab.com/{{ .Site.Social.gitlab }}"><i class="fa fa-gitlab"></i></a>
    {{ end }}

    {{ if .Site.Social.email }}
	  <a href="mailto:{{ .Site.Social.email }}"><i class="fa fa-envelope"></i></a>
    {{ end }}

    {{ if .Site.Social.twitter }}
	  <a href="https://twitter.com/{{ .Site.Social.twitter }}"><i class="fa fa-twitter"></i></a>
    {{ end }}

		{{ if .Site.Social.instagram }}
	  <a href="https://instagram.com/{{ .Site.Social.instagram }}"><i class="fa fa-instagram"></i></a>
    {{ end }}

    {{ if .Site.Social.linkedin }}
	  <a href="https://linkedin.com/in/{{ .Site.Social.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {{ end }}

    {{ if .Site.Social.stackoverflow }}
	  <a href="https://stackoverflow.com/{{ .Site.Social.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {{ end }}
	</h4>
</div>
