{{ partial "head" . }}
<body>
<!-- Main container -->
<div class="page-container">

<!-- bloc-0 -->
{{ partial "header" . }}<!-- bloc-0 END -->

<!-- bloc-4 -->
<div class="bloc bgc-white bg-Photo-2011-11-12-203-2047-2044-20PM bloc-bg-texture texture-darken-strong tc-white l-bloc" id="bloc-4">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<form id="form_1" action="https://formspree.io/david+help@boyes.nz" method="POST">
					<h1 class="mg-md tc-white">
						Contact Me
					</h1>
					<div class="form-group">
						<label>
							Name
						</label>
						<input name="name" id="name" class="form-control" required />
					</div>
					<div class="form-group">
						<label>
							Email
						</label>
						<input id="email" name="_replyto" class="form-control" type="email" required />
					</div>
					<div class="form-group">
						<label>
							Subject<br>
						</label>
					</div>
					<input type="text" name="_gotcha" style="display:none" />
					<div class="form-group">
						<select name="_subject" class="form-control" id="select_667">
							<option value="PicFrame For iPhone/iPad">
								PicFrame For iPhone/iPad
							</option>
							<option value="PicFrame For Mac">
								PicFrame For Mac
							</option>
							<option value="Picfx">
								Picfx
							</option>
							<option value="Other">
								Other
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>
							Message
						</label><textarea name="message" id="message" class="form-control" rows="4" cols="50" required></textarea>
					</div>
					<input type="hidden" name="_format" value="plain" />
					<input class="bloc-button btn btn-lg btn-block btn-cadet-blue" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

<!-- Footer -->
{{ partial "footer" . }}

</div>
<!-- Main container END -->


</body>
</html>
