{{ partial "head" . }}
<body>
<!-- Main container -->
<div class="page-container">

{{ partial "header" . }}

<!-- bloc-1 -->
<div class="bloc bgc-white b-parallax bg-Photo-2024-02-13-207-2023-2045-20PM bloc-bg-texture texture-darken-strong l-bloc" id="bloc-1">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<div class="panel blocs-personal-panel animated pulse">
					<div class="panel-body">
						<img src="img/lazyload-ph.png" data-src="img/profile-2.jpg" class="img-responsive img-circle center-block blocs-panel-avatar lazyload" />
						<h3 class="mg-clear">
							David Boyes
						</h3>
						<p>
							App Creator
						</p>
						<p>
							I have been creating iOS apps for over 6 years, and have also worked on Android, OS X and web apps. You can see some of my work below.
						</p>
						<div class="row">
							<div class="col-sm-4">
								<div class="text-center">
									<a href="http://twitter.com/davidboyes" target="_blank"><span class="ion ion-social-twitter icon-md icon-padding icon-outer-space"></span></a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="text-center">
									<a href="http://instagram.com/davidboyes" target="_blank"><span class="ion ion-social-instagram icon-md icon-padding icon-outer-space"></span></a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="text-center">
									<a href="https://linkedin.com/in/davidtboyes" target="_blank"><span class="ion ion-social-linkedin icon-md icon-padding icon-outer-space"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- picframe -->
<div class="bloc bgc-black b-parallax bg-Photo-2017-02-13-207-2006-2010-20AM bloc-bg-texture texture-darken-strong d-bloc" id="picframe">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<div class="blocsapp-device center-block blocsapp-device-iphone6 iphone6-space-grey">
					<img src="img/lazyload-ph.png" data-src="img/screenshot-1.png" class="img-responsive lazyload" />
				</div>
			</div>
			<div class="col-sm-6">
				<img src="img/lazyload-ph.png" data-src="img/512.png" class="img-responsive device-bloc-icon-phone lazyload" />
				<h2 class="mg-md device-bloc-text">
					PicFrame
				</h2>
				<p class="mg-lg device-bloc-text-p">
					Create amazing collages with photos, videos, labels, music and more.
				</p><a href="http://itunes.apple.com/app/id433398108?mt=8" class="btn btn-lg device-bloc-button btn-rd pull-left btn-wire"><span class="ion ion-android-phone-portrait icon-spacer icon-white"></span>App Store</a><a href="http://play.google.com/store/apps/details?id=nz.co.activedevelopment.picframe_android" class="btn btn-lg btn-wire btn-rd device-bloc-button"><span class="ion ion-android-playstore icon-spacer icon-white"></span>Google Play</a><a href="http://itunes.apple.com/app/id475067528?mt=12" class="btn btn-lg btn-wire btn-rd device-bloc-button"><span class="ion ion-android-laptop icon-spacer icon-white"></span>Mac App Store</a>
			</div>
		</div>
	</div>
</div>
<!-- picframe END -->

<!-- picfx -->
<div class="bloc bloc-bg-texture texture-darken-strong bgc-black bg-2 b-parallax d-bloc" id="picfx">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<img src="img/lazyload-ph.png" data-src="img/iTunes.png" class="img-responsive device-bloc-icon-phone lazyload" />
				<h2 class="mg-md device-bloc-text">
					Picfx
				</h2>
				<p class="mg-lg device-bloc-text-p">
					Turn your photos and videos into a work of art.
				</p>
				<p class="text-right">
					<a href="http://picfx.co">More info...</a><br>
				</p><a href="http://itunes.apple.com/app/id417563413?mt=8" class="btn btn-wire btn-lg device-bloc-button btn-rd"><span class="ion ion-android-phone-portrait icon-spacer icon-white"></span>App Store</a><a href="http://play.google.com/store/apps/details?id=nz.co.davidboyes.picfx_android" class="btn btn-lg btn-rd btn-wire device-bloc-button"><span class="ion ion-android-playstore icon-spacer icon-white"></span>Google Play</a>
			</div>
			<div class="col-sm-6">
				<div class="center-block blocsapp-device blocsapp-device-iphone6 iphone6-space-grey">
					<img src="img/lazyload-ph.png" data-src="img/2-Screenshot.png" class="img-responsive lazyload" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- picfx END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer -->
{{ partial "footer" . }}
</div>
<!-- Main container END -->


</body>
</html>
